*{
    padding: 0;
    margin: 0;
}
.layout_container{
    height: 100vh;
    width: 100vw;
    background-color: grey;
    display: flex;

    flex-wrap: wrap;
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap-reverse; */


}

.header{
    flex: 100%;
    background-color: tomato;
    justify-content: center;
    align-items: center;
}
.sidebar {
    flex-grow: 1;
    background-color: aqua;
}
.content {
    flex-grow: 3;
    background-color: mistyrose;
}
.footer {
    flex: 100%;
    background-color: lightpink;
    color: black;
}