body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
.conatiner {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
}
h1 {
    text-align: center;
    color: #333;
}
.scoreboard {
    margin: 20px;
}